<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->

    <link href="~/Content/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom CSS -->

    <link href="~/Content/sb-admin-2.css" rel="stylesheet" />
    <!-- Morris Charts CSS -->

    <link href="~/Content/morris.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    <p>You should Log off before choose another role</p>
                }
                <a class="navbar-brand">Hao's Project BugTracker</a>

            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right"></ul>

            @Html.Partial("_LoginPartial")
           


            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            @*<div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>*@
                            <!-- /input-group -->
                        </li>
                        @*<li>
            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>*@
                        <li>
                            @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("Email", "hohoanhao94@gmail.com")
                                @Html.Hidden("Password", "Hohoanhao123456@")
                                <button type="submit" class="btn btn-success">Login Admin</button>
                            }
                        </li>
                        <li>
                            @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("Email", "ho_hoan_hao94@yahoo.com")
                                @Html.Hidden("Password", "Hohoanhao123456@")
                                <button type="submit" class="btn btn-success">Login Project Manager</button>
                            }
                        </li>
                        <li>
                            @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("Email", "Developer@yahoo.com")
                                @Html.Hidden("Password", "Hohoanhao123456@")
                                <button type="submit" class="btn btn-success">Login Developer</button>
                            }
                        </li>
                        <li>
                            @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("Email", "Submitter@yahoo.com")
                                @Html.Hidden("Password", "Hohoanhao123456@")
                                <button type="submit" class="btn btn-success">Login Submitter</button>
                            }
                        </li>

                        <li>
                            <a href="/Projects"><i class="fa fa-bar-chart-o fa-fw"></i>Projects<span class="fa arrow"></span></a>

                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/ApplicationUsers"><i class="fa fa-table fa-fw"></i>Admin's Room</a>
                        </li>
                        <li>
                            <a href="/Tickets"><i class="fa fa-edit fa-fw"></i>Ticket</a>
                        </li>
                        @if (User.IsInRole("Submitter"))
                        {
                            <li>
                                <a href="/Tickets/SubmitterTickets">Submitter Ticket</a>
                            </li>
                        }
                        @if (User.IsInRole("Developer"))
                        {
                            <li>
                                <a href="/Tickets/DeveloperTickets">Developer Ticket</a>
                            </li>
                        }
                        @if (User.IsInRole("Project Manager"))
                        {
                            <li>
                                <a href="/Tickets/ProjectManagerTickets">ProjectManager Tickets</a>
                            </li>
                        }
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i>Ticket Options<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                    {
                                        <li>
                                            <a href="/TicketTypes">Ticket Type</a>
                                        </li>
                                        <li>
                                            <a href="/TicketPriorities">Ticket Priority</a>
                                        </li>
                                        <li>
                                            <a href="/TicketStatus">Ticket Status</a>
                                        </li>
                                        <li>
                                            <a href="/TicketComments"><i class="fa fa-comment"></i> Add Ticket Comments</a>
                                        </li>
                                    }

                                }



                            </ul>
                        </li>

                        <!-- /.nav-second-level -->
                        @*<li>
            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#">Second Level Item</a>
                </li>
                <li>
                    <a href="#">Second Level Item</a>
                </li>
                <li>
                    <a href="#">Third Level <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>*@
                        @*<li>
        <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="blank.html">Blank Page</a>
            </li>
            <li>
                <a href="login.html">Login Page</a>
            </li>
        </ul>*@
                        <!-- /.nav-second-level -->
                        @*</li>*@
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->



    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->

    <script src="~/Scripts/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->

    <script src="~/Scripts/raphael.min.js"></script>

    <script src="~/Scripts/morris.min.js"></script>

    <script src="~/Scripts/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->

    <script src="~/Scripts/sb-admin-2.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>